
<style>
  .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}
          .Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
    

}
.submit-btn{
  background-color: #1977cc;
  color: #fff;
  border-radius: 30px;
  width: 50%;
}
.submit-btn:hover{
   background: #1c84e3;
  color: #fff;
  text-decoration: none;
}
.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Neon-input-dragDrop {
    display: block;
    width: 180px;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #366281;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}
.Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}
.Neon-input-text span {
    font-size: 12px;
}
.Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
}
.Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
</style>
{{> user/header}}

<div class="mt-5">
 {{> flash-message}}
 </div>
<section class=" gradient-custom">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Profile</h3>
                <form action="/update-profile/{{user._id}}"  method="POST"  enctype="multipart/form-data">
               <div class="row">
                  
       <div class=" form-group col-md-6 mb-3 ">
         {{#if user.profileImg}}
         <div class="imageuploaded"><img src="/images/uploads/{{user.profileImg}}" alt="profile-img" class="img-fluid user-img" id="imgView"></div>
           
        {{else}}
     <div class="imageuploaded"><img src="/images/no-img.jpg" alt="profile-img" class="img-fluid user-img"></div>
        {{/if}}
         <input name="profileImg" type="file" onchange="viewImg(event)">
        </div>
          <div class="form-group col-md-6 mb-3">
                <div class="row">
     <div class="form-group col-md-12 mb-3">
      
    <label for="exampleInputEmail1">First name</label>
    <input type="text" class="form-control" id="firstName" name="firstname" placeholder="Jem" value="{{user.firstname}}" required>
    </div>
     <div class="form-group col-md-12 mb-3">
    <label for="exampleInputEmail1">Last name</label>
    <input type="text" class="form-control" id="lastName" name="lastname" placeholder="jock" value="{{user.lastname}}" required>
    </div>
    </div>
     </div>
     </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Jem@email.com" aria-describedby="emailHelp" value="{{user.email}}" required>
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Mobile no</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="mobile" placeholder="+91 8212345678" 
     aria-describedby="emailHelp" value="{{user.mobile}}" required>
  </div>
 
  <div class="row">
    
      <div class="col-md-4 mb-3">
        <div class="bootstrap-iso">
              <div class="form-group ">
     <div class="formdate">
   <label class="control-label" for="date">Date of birth</label>
        <input class="form-control" id="date" name="DoB" placeholder="MM/DD/YYY" type="date" value="{{user.DoB}}"/>
        </div>
  </div>
  </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="gender">Gender</label>
            <select class="custom-select d-block w-100" id="gender" name="gender" value="{{user.gender}}" required>
              <option value="Male">Male</option>
               <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
           
          </div>
       
          <div class="col-md-3 mb-3">
              <div class="form-group">
    <label for="exampleInputEmail1">Blood group</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="blood" value="{{user.blood}}" placeholder="O+" aria-describedby="emailHelp">
  </div>
          </div>
        </div>
        <div class="form-group">
    <label for="exampleInputPassword1">Address </label>
    <input type="text" name="address" class="form-control" id="address" placeholder="House no, Street, city, Pin" value="{{user.address}}">
  </div>
  

 <div class="button-div d-flex flex-column align-items-center">
  <button type="submit" class="btn btn-primary submit-btn btn-lg" style="border-radius:30px">Save Changes</button>
</div>
  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<script>
  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso .formdate').length>0 ? $('.bootstrap-iso .formdate').parent() : "body";
    var options={
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>
{{> user/footer}}

  <script>
    function viewImg(event){
      console.log(event)
      document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
  </script>